body {
	font-size: 15pt;
	font-family: arial;
}

table {
	border: solid lightgray 2px;
	border-spacing: 0px;
}

td {
	width: 10vmin;
	height: 10vmin;
	border: solid gray 2px;
}

h2 {
	margin-top: 0.5vmax;
	margin-bottom: 0.5vmax;
	font-size: 17pt;
}

input, button {
	text-align: center;
	font-size: 15pt;
	font-family: arial;
}

button {
	margin: 2vmax;
}

.piece {
	margin: auto;
	width: 8vmin;
	height: 8vmin;
	border: solid rgb(0, 102, 102) 2px;
	border-radius: 50%;
}

.selected {
	border: solid lime 5px;
	cursor: pointer;
}

.possibleSpot {
	border: solid gold 2px;
	background-color: darkgoldenrod;
	cursor: pointer;
}

.possibleSpot:hover {
	border: solid yellow 2px;
	background-color: goldenrod;
}

.possibleJump {
	border: solid red 2px;
	background-color: darkred;
	cursor: pointer;
}

.possibleJump:hover {
	border: solid tomato 2px;
	background-color: red;
}

.dark {
	background-color: white;
}

.light {
	background-color: lightgray;
}

#board {
	display: inline-block;
	margin: 2vmin;
	text-align: center;
}

#gameInfo {
	display: inline-block;
	margin: 5vmin;
	vertical-align: top;
}

.king {
	border-color: gold;
}

.p1Piece, .multi {
	background-color: rgb(50, 205, 182);
}

.p2Piece, .single, input:checked + .slider {
	background-color: rgb(255, 0, 102);
}

#playArea {
	display: none;
	text-align: center;
}

.switch input {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	margin: 1vmax;
	width: 6vmax;
	height: 3vmax;
}

.slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	cursor: pointer;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider::before {
	position: absolute;
	top: .5vmax;
	left: .5vmax;
	width: 2vmax;
	height: 2vmax;
	background-color: white;
	content: "";
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider::before {
	-webkit-transform: translateX(3vmax);
	-ms-transform: translateX(3vmax);
	transform: translateX(2.75vmax);
}

#options {
	text-align: center;
}

#playerOptions {
	margin-right: auto;
	margin-left: auto;
	padding: 2vmax;
	width: 70vmax;
	text-align: center;
	transition: .35s;
	-webkit-transition: .35s;
}

#singlePlayer {
	vertical-align: middle;
}

#singleplayerOptions > div, #multiplayerOptions > div {
	margin: 2vmax;
}

#error {
	background-color: yellow;
}